list {
	width: 100%;
	> .main-menu {
		> sublist {
			display: flex;
			li {
				margin: 0 20px;
			}
		}
	}
}


.menu-item {
	> list {
		> .main-menu sublist {
			flex-direction: column;
		}
	}
}

.active {
	background: #D34E47;
}