.recommendations-card {
	text-align: center;
}

.recommendations-card-image {
	max-width: 300px;
	margin: 20px 20px 10px;
}

.recommendations-card-title {
	margin: 0;
	font-size: 16px;
}

.recommendations-card-description {
	margin: 0;
}